.VerificarIdade1 {
  display: flex;
  justify-content: center;
  background-color: rgb(8, 102, 8);
  color: rgb(207, 191, 41);
  margin: 16px;
}

.VerificarIdade2 {
  display: flex;
  justify-content: center;
  background-color: rgb(238, 15, 15);
  color: rgb(251, 255, 0);
  margin: 16px;
}